@charset "utf-8";

.itempage-main-content {
    display: flex;
    //justify-content: center;
}

.itempage-title {
    padding-left: 10%;
    padding-top: 20px;
}

.itempage-row {
    padding-left: 10%;
    content: "";
    display: table;
    clear: both;
}

.itempage-image-column {
    float: left;
    width: 75%;
}

.itempage-image {
    max-height: 250px;
}

.itempage-details-column {
    float: left;
    width: 25%;
}