@charset "utf-8";

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

.main-background {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}